/* 잔상 효과를 위한 이미지 스타일 */
body{
    width: 100%;
    height: 2660px;
    font-family: 'Noto Sans KR Black';
    text-align: center;
    margin : 0 auto;
    overflow-x: hidden;
    touch-action: none; /* 터치 동작으로 인한 확대 방지 */
}

.nav_menu{
    height : 130px;
    display : flex;
    gap : 12%;
    font-size: 2vw;
    font-style: italic;
    margin-top : 50px;
    margin-left : 40px;
    margin-right : 40px;
    position: relative; /* position 추가 */
    z-index: 3;

}

#nav_menu_drop{
    display: none;
    width : 90%;    
    height : 50%;
    font-family: 'Noto Sans KR Regular';
    font-size: 1vw;
    margin-top: 20px;
    text-decoration: none;
    z-index: 999;

}

.nav_menu:hover #nav_menu_drop{
    display : flex;
    justify-content: center;
    align-items: center;
    z-index: 999; 
    background: white;
    border: 1px black solid;
}

ul, ol {
    list-style-type: none; /* 열머리 글자 제거 */
    margin: 0; /* 기본 여백 제거 (선택 사항) */
    padding: 0; /* 기본 패딩 제거 (선택 사항) */
}

li{
    margin-top: 5px;
    margin-bottom: 5px;
}

.link_style{
    text-decoration: none;
    font-family: 'Noto Sans KR Regular';
    font-style: normal;
    font-size: 1.2vw;
    color : black;
}

#logo{
    width : 268px;
    height : 67px;


}

.main_1{
    width : 100%;
    height : 920px;
    background: black;
    z-index: -1;

}

.main_2{
    width : 100%;
    height : 1420px;
    background: black;
    z-index: -1;
}

.footer{
    margin-top: 20px;
    margin-bottom: 20px;
}

.footer_1{
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.footer_logo{
    width : 50px;
    height : 50px;
    border-radius: 100%;
    display: inline-block;
    transition: transform 0.3s ease-in-out; /* 부드러운 애니메이션 */
}


.footer_logo:hover {
    animation: shake 0.5s ease-in-out infinite; /* 무한 흔들림 */
}



.footer_2,
.footer_3{
    font-family: 'Noto Sans KR Regular';
    font-style: normal;
    font-size: 15px;
    color : black;
    margin-top: 20px;
    margin-bottom: 20px;
}

.bta{
    width : 100%;
    height : 12%;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 20px;
    background: white;
    font-family: 'Noto sans KR Black';
    font-size: 2vw;
    cursor: pointer;
}
/*index*/
#main_video{
    width: 100vw;
    height: auto; /* 부모 높이에 맞춤 */
    object-fit: cover; /* 컨테이너를 꽉 채우고 넘치는 부분은 잘림 */
    position: relative; /* position 추가 */
    z-index: 0;
}

.main_detail{
    display: flex;
    gap : 35%;
    margin-left : 10%;
    margin-right : 10%;
    font-size: 30px;
    color : white;
    text-align: left;    
}

.main_detail1,
.main_detail2{
    margin-top: 20%;
    opacity: 0; /* 처음에는 투명 */
    transform: translateY(50px); /* 아래쪽에 위치 */
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
    font-size: 2.0vw;
}

.main_detail1.visible {
    opacity: 1; /* 보이게 전환 */
    transform: translateY(0); /* 제자리로 이동 */
}
.main_detail2.visible {
    opacity: 1; /* 보이게 전환 */
    transform: translateY(0); /* 제자리로 이동 */
    transition-delay: 0.8s; /* 두 번째 요소는 800ms 후 실행 */
}

#strong{
    font-size : 4.5vw;
    text-align: center;
}

/*vision*/
.main_detail_vision{
    display: flex;
    gap : 10%;
    margin-left : 10%;
    margin-right : 10%;
    font-size: 30px;
    color : white;
    text-align: left;    
    opacity: 0; /* 처음에는 투명 */
    transform: translateY(50px); /* 아래쪽으로 이동 */
    animation: fadeInUp 0.8s ease-out forwards; /* 애니메이션 실행 */
}


.vision_container{
    width : 80%;
    height : 524px;
    background: white;
    margin-top: 10%;
    border-radius: 10px;
    text-align: center;
    color : black;
}

.vision_container h2{
    margin-top: 1%;
    margin-bottom: 1%;
    font-size: 25px;
}
.vision_container h5{
    margin-top: 1%;
    margin-bottom: 1%;
}

.vision_container p{
    font-size: 20px;
    font-family: Noto Sans KR Regular;
    text-align: left;
    margin-top: 0%;
    margin-bottom: 0%;
    margin-left: 5%;
    margin-right: 5%;
}

/*demolition*/
.main_detail_demolition{
    display: flex;
    gap : 4%;
    max-width : 100%;
    margin-left : 3%;
    margin-right : 3%;
    font-size: 30px;
    color : white;
    text-align: left;    
    opacity: 0; /* 처음에는 투명 */
    transform: translateY(50px); /* 아래쪽으로 이동 */
    animation: fadeInUp 0.8s ease-out forwards; /* 애니메이션 실행 */
}

.main_detail_demolition_images h2{
    text-align: center;
    margin-top: 10px;
    margin : 0px;
}
.main_detail_demolition_images p{
    text-align: center;
    font-size : 15px;
    font-family: Noto Sans KR Regular;
    margin : 0;
}


.main_detail_demolition_images{
    position: relative; /* 자식 요소의 위치 기준 */
    display: inline-block; /* 필요한 경우 추가 */
    width: 100%; /* 컨테이너 크기 */
    max-width: 300px; /* 이미지의 최대 크기 (선택 사항) */
}


.main_detail_container_image{
    width : 100%;
    height : 300px;
    margin-top : 40%;
    transition: transform 0.3s ease-in-out; /* 부드러운 확대 효과 */
    opacity: 50%;
}

#main_detail_container_image_center{
    width : 300px;
    height : 300px;
    margin-top : 11%;
    transition: transform 0.3s ease-in-out; /* 부드러운 확대 효과 */
    opacity: 50%;
}


.overlay_image_before {
    position: absolute; /* 부모를 기준으로 위치 지정 */
    width : 100%;
    height : 5%;
    top: 30%; /* 세로 중앙 정렬 */
    left: 50%; /* 가로 중앙 정렬 */
    transform: translate(-50%, -50%); /* 정확히 중앙으로 이동 */
    color: rgb(0, 0, 0); /* 텍스트 색상 */
    font-size: 18px; /* 텍스트 크기 */
    background: #BED8FF;
    align-content: center;
    text-align: center; /* 텍스트 정렬 */
    transition: opacity 0.3s ease-in-out;
    opacity: 1; /* 기본 상태에서 보이게 설정 */
}
.main_detail_container_image:hover {
    scale: 120%;
    transform: scale(1.2); /* 20% 확대 */
    opacity: 100%;
    border-radius: 50%;
}
.main_detail_container_image:hover + .overlay_image_before,
.main_detail_container_image:hover + .overlay_image_after {
    opacity: 0; /* 투명하게 변경 */
}
#main_detail_container_image_center:hover{
    scale : 120%;
    transform: scale(1.2); /* 20% 확대 */
    opacity: 100%;
    border-radius: 50%;

}
#main_detail_container_image_center:hover + .overlay_image_before,
#main_detail_container_image_center:hover + .overlay_image_after {
    opacity: 0; /* 투명하게 변경 */
}

.overlay_image_after {
    position: absolute; /* 부모를 기준으로 위치 지정 */
    width : 100%;
    height : 5%;
    top: 85%; /* 세로 중앙 정렬 */
    left: 50%; /* 가로 중앙 정렬 */
    transform: translate(-50%, -50%); /* 정확히 중앙으로 이동 */
    color: white; /* 텍스트 색상 */
    font-size: 18px; /* 텍스트 크기 */
    background: #0042A6;
    align-content: center;
    text-align: center; /* 텍스트 정렬 */
    transition: opacity 0.3s ease-in-out;
    opacity: 1; /* 기본 상태에서 보이게 설정 */
}

#weare_video{
    width : 100%
}

.weare_text{
    margin-top : 50px;
    font-size: 20px;
    color : white;
}

.overlay_video {
    position: absolute; /* 부모를 기준으로 위치 지정 */
    width : 56.5%;
    height : 5%;
    top: 50%; /* 세로 중앙 정렬 */
    left: 50%; /* 가로 중앙 정렬 */
    transform: translate(-50%, -50%); /* 정확히 중앙으로 이동 */
    color: white; /* 텍스트 색상 */
    font-size: 18px; /* 텍스트 크기 */
    background: #0042A6;
    align-content: center;
    text-align: center; /* 텍스트 정렬 */
    transition: opacity 0.3s ease-in-out;
    opacity: 1; /* 기본 상태에서 보이게 설정 */
}

