{% extends 'base.html' %}
{% load static %}
{% block title %}
종합철거/우주종합철거
{% endblock %}
{% block main_1 %}
<div class = 'main_detail_demolition'>
    <div class = 'main_detail_demolition_images'>
        <img src = '{% static "img/demolition/before001.jpg" %}' class = 'main_detail_container_image'>
        <div class = 'overlay_image_before'>우주종합철거 오기 전!</div>
        <img src = '{% static "img/demolition/after001.jpg" %}' class = 'main_detail_container_image'>
        <div class = 'overlay_image_after'>우주종합철거 작업 후!</div>
    </div>
    
    <div class = 'main_detail_demolition_images'>
        <img src = '{% static "img/demolition/before002.jpg" %}' class = 'main_detail_container_image'>
        <div class = 'overlay_image_before'>우주종합철거 오기 전!</div>
        <img src = '{% static "img/demolition/after002.jpg" %}' class = 'main_detail_container_image'>
        <div class = 'overlay_image_after'>우주종합철거 작업 후!</div>
    </div>
    
    <div class = 'main_detail_demolition_images'>
        <h2>
            종합철거!
        </h2>
        <p>
            마우스를 올려보세요!
        </p>
        <img src = '{% static "img/demolition/before003.jpg" %}' id = 'main_detail_container_image_center'>
        <div class = 'overlay_image_before'>우주종합철거 오기 전!</div>
        <img src = '{% static "img/demolition/after003.jpg" %}' class = 'main_detail_container_image'>
        <div class = 'overlay_image_after'>우주종합철거 작업 후!</div>
    </div>
    
    <div class = 'main_detail_demolition_images'>
        <img src = '{% static "img/demolition/before004.jpg" %}' class = 'main_detail_container_image'>
        <div class = 'overlay_image_before'>우주종합철거 오기 전!</div>
        <img src = '{% static "img/demolition/after004.jpg" %}' class = 'main_detail_container_image'>
        <div class = 'overlay_image_after'>우주종합철거 작업 후!</div>
    </div>
    
    <div class = 'main_detail_demolition_images'>
        <img src = '{% static "img/demolition/before005.jpg" %}' class = 'main_detail_container_image'>
        <div class = 'overlay_image_before'>우주종합철거 오기 전!</div>
        <img src = '{% static "img/demolition/after005.jpg" %}' class = 'main_detail_container_image'>
        <div class = 'overlay_image_after'>우주종합철거 작업 후!</div>
    </div>

</div>
{% endblock %}

{% block main_2 %}

<div class = 'main_detail'>
    <div class = 'main_detail1'>
        철거 외길 인생!<br>
        철거의 대명사,<br>
        <div id = 'strong'>
            우주종합철거
        </div>
    </div>
    <div class = 'main_detail2'>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        깔끔한 결과 보시고,<br>
        편하게 연락 주세요!<br>
        <a href = '/services/demolition/'>
        <button class = 'bta'>
            우주종합<br>
            실력보기!
        </button>
        </a>
    </div>
    
    <script>
    document.addEventListener('DOMContentLoaded', function () {
        const element = document.querySelector('.main_detail_vision');
        element.style.animationDelay = '0.5s'; // 원하는 지연 시간 설정 (선택 사항)
    });

        // 스크롤 이벤트로 요소 감지
    document.addEventListener('scroll', function () {
        const elements = document.querySelectorAll('.main_detail_vision, .main_detail1, .main_detail2');
        const windowHeight = window.innerHeight;

        elements.forEach(element => {
            const elementTop = element.getBoundingClientRect().top;

            if (elementTop < windowHeight - 400) { // 화면 안으로 들어오면
                element.classList.add('visible');
            } else {
                element.classList.remove('visible'); // 다시 사라지게
            }
        });
    });

    </script>
</div>
{% endblock %}